/* Общие */
html {
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #757575;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  height: 80px;
  display: flex;
  border: 1px solid #ececec;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Portfolio - кнопки*/

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter .filter__item:last-child {
  margin-right: 0;
}
.filter__item {
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}
.filter__button:hover,
.filter__button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  color: #212121;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: transparent;
  background: #f5f4fa;
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*конец*/

/* index.html Зффективніе решения для бизнеса */
.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin: 0 auto;
  text-align: center;

  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: cover;

  background-image: url("../images/Img.jpg");
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
}
.hero__text {
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
}
.hero__button:hover,
.hero__button:focus {
  color: #ffffff;
}
.hero__button {
  border: transparent;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  color: #ffffff;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*page- header*/

.head {
  display: flex;
  align-items: center;
}
.logoStudio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #212121;
}
.mainNav {
  display: flex;
  justify-content: space-between;
}
.head__nav-list {
  display: flex;
  margin-left: 93px;
}
.head__nav-item {
  margin-right: 50px;
}
.head__nav-list .head__nav-item:last-child {
  margin-right: 0;
}
.contakts__icon {
  margin-right: 10px;
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__icon:hover {
  fill: #2196f3;
}
.contakts__link {
  color: #2196f3;
}
.head__nav-link {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 31px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head__nav-link:focus,
.head__nav-link:hover {
  color: #e0e0e0;
}
.head__nav-link.courant::after {
  content: "";

  position: absolute;

  display: block;

  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}
.head__nav-link.courent::after {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head__nav-link:hover::after {
  opacity: 1;
}
.courant {
  color: #2196f3;
}
.contakts__link {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  line-height: 16px;

  color: #757575;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__link:focus,
.contakts__link:hover {
  color: #2196f3;
}
.contakts__link:focus .contakts__icon {
  fill: #2196f3;
}
.contakts__link:hover .contakts__icon {
  fill: #2196f3;
}
/*конец*/

/* portfolio.html Карточки*/
.card-set__item {
  position: relative;
}
.card-set__item::before {
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:focus::before .card-set__item:hover::before {
  opacity: 1;
}
.card-set__link {
  display: block;
}
.card-set__link:focus .card-set__description,
.card-set__link:hover .card-set__description {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__box {
  position: relative;
  overflow: hidden;
}
.card-set__description {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set:hover .card-set__item::before {
  transform: translateY(0);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  overflow: hidden;
}
.card-set > .card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.card-set__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;

  padding: 63px 24px;
}
.card-set__blok {
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.card-set__txt {
  font-size: 16px;
  line-height: 1.875em;
  color: #757575;
}
/*конец*/

/* portfolio.html Header */

.contakts {
  display: flex;
  align-items: center;
}
.contakts li {
  margin-right: 50px;
}
.contakts .contakts__item:last-child {
  margin-right: 0;
}
/* конец */

/* index.html Внимание к деталям*/

.feature__title {
  font-weight: bold;
  line-height: 1.142em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
.features__box {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #f3f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__item {
  width: 270px;
  height: 120px;
  background: #f3f4fa;
  border-radius: 4px;
}
.features {
  display: flex;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.feature__title {
  margin-bottom: 10px;
}
/*конец*/

/* index.html Чем мы занимаемся */
.section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.images {
  display: flex;
  justify-content: space-between;
}
.images__item {
  position: relative;
}

.images__box {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}
.images__box p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*конец*/

/* index.html Постоянные клиенты*/

.client {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}
.clients {
  width: 1170px;
  display: inline-flex;
  justify-content: space-between;
}
.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__icon {
  padding: 0px;
  margin: 0px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus,
.clients__link:hover {
  fill: #2196f3;
}
/* конец*/

/* index.html Наша команда*/
.teamSection {
  background: #f5f4fa;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__box {
  padding-top: 20px;
  padding-bottom: 30px;
  background: white;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__description {
  font-size: 16px;
  line-height: 1.187em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.social__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus,
.social__link:hover {
  background-color: #2196f3;
}
.social__icon:focus,
.social__icon:hover {
  fill: #ffffff;
}
.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: #ffffff;
}
/*конец*/

/* Общий footer-присоединяйтесь*/
.footer__link {
  display: inline-block;
  margin-right: 93px;
}
.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__link-blok {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__link-icon {
  display: flex;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background: rgba(255, 255, 255, 0.1);

  justify-content: center;
  align-items: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-item {
  display: inline-block;
}
.footer__link-item:not(:last-child) {
  margin-right: 10px;
}
.footer__link-icon:focus,
.footer__link-icon:hover {
  background: #2196f3;
}
.footer__link-icon {
  fill: white;
}
/*конец*/

/* Общий footer-контакты*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.footer__blok {
  display: inline-block;
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #2196f3;
}

.logoFooter {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: white;
}
.footer__address {
  line-height: 1.714em;
  color: #ffffff;
}
.footer__contakts:hover,
.footer__contakts:focus {
  color: #2196f3;
}
.footer__contakts {
  line-height: 1.714em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contakts-item {
  margin-top: 20px;
}
/*конец*/

/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button,
.modal__close {
  cursor: pointer;
}
.modal__close {
  fill: #000000;
}

.modal__button:focus .modal__close,
.modal__button:hover .modal__close {
  fill: #2196f3;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}
.form-input {
  padding: 6px 10px;
  padding-left: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  display: inline-block;
}
.form-icon {
  position: absolute;
  fill: #212121;
  left: 15px;
  top: 27px;
}
.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
}
.textarea {
  padding: 12px 16px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}
.form-field-checkbox {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.form-field-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 7px;

  color: #757575;
}
.form-field-policy a {
  text-decoration: underline;
}
.form-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*конец*/

/* Общий. Footer. Подпишитесь на Рассылку*/

.form-input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  margin-right: 12px;
}
.form-input-footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}
.footer-form-button {
  min-width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  cursor: pointer;
}
.footer-form-button:focus,
.footer-form-button:hover {
  background: #2196f3;
}
.form-cursor {
  position: absolute;
  margin-left: 10px;
}
/*конец*/
