.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.footer__blok {
  display: inline-block;
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #2196f3;
}

.logoFooter {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: white;
}
.footer__address {
  line-height: 1.714em;
  color: #ffffff;
}
.footer__contakts {
  line-height: 1.714em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #2196f3;
  }
}
.footer__contakts-item {
  margin-top: 20px;
}
