.teamSection {
  background: #f5f4fa;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__box {
  padding-top: 20px;
  padding-bottom: 30px;
  background: white;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__description {
  font-size: 16px;
  line-height: 1.187em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.social__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
  }
  .social__link:focus &,
  .social__link:hover & {
    fill: #ffffff;
  }
}
