.mobil-modal {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  /*transform: translateX(100%);*/

  .mobil-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .menu-close {
    position: absolute;
    right: 25px;
    top: -21px;
    border: none;
    background: none;
  }
}
.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-contacts__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #757575;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-media {
  display: flex;
}
.mobile-media__item {
  position: relative;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
    &::after {
    content: '';

    position: absolute;
    display: block;
    width: 22px;
    height: 0;
    right: -23px;
    bottom: 12px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }  
}
.mobile-media__item::after:last-child {
  border: none;
}
.mobile-media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: #2196f3;
  }
.mobil-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  /*transform: translateY(0);*/
}
