.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button,
.modal__close {
  cursor: pointer;
}
.modal__close {
  fill: #000000;

  .modal__button:focus &,
  .modal__button:hover & {
    fill: #2196f3;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}
.form-input {
  padding: 6px 10px;
  padding-left: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  display: inline-block;
}
.form-icon {
  position: absolute;
  fill: #212121;
  left: 15px;
  top: 27px;
}
.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
}
.textarea {
  padding: 12px 16px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}
.form-field-checkbox {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.form-field-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 7px;

  color: #757575;
}
.form-field-policy {
  a {
    text-decoration: underline;
  }
}
.form-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
