.head {
  display: flex;
  align-items: center;
}
.logoStudio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #212121;
}
.mainNav {
  display: flex;
  justify-content: space-between;
}
.head__nav-list {
  display: flex;
  margin-left: 93px;
}
.head__nav-item {
  margin-right: 50px;
}
.head__nav-list .head__nav-item:last-child {
  margin-right: 0;
}
.contakts__icon {
  margin-right: 10px;
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakts__icon:hover {
  fill: #2196f3;
}
.contakts__link {
  color: #2196f3;
}
.head__nav-link {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 31px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #e0e0e0;
  }
}
.head__nav-link.courant::after {
  content: "";

  position: absolute;

  display: block;

  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}
.head__nav-link.courent::after {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head__nav-link:hover::after {
  opacity: 1;
}
.courant {
  color: #2196f3;
}
.contakts__link {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  line-height: 16px;

  color: #757575;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #2196f3;
  }
}
.contakts__link:focus .contakts__icon {
  fill: #2196f3;
}
.contakts__link:hover .contakts__icon {
  fill: #2196f3;
}
