.contakts {
  display: none;
  align-items: center;
  
  @media screen and (min-width: 480px) {
    display: flex;
  }
}
.contakts {
  li {
    margin-right: 50px;
  }
}
.contakts .contakts__item:last-child {
  margin-right: 0;
}
